.category {
  padding: 10px 20px;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 10px;

  .category1 {
    display: flex;
    flex-wrap: wrap; 
  }

  .category2 {
    display: flex;
    justify-content: end;
    flex-grow: 1;
  }

}
